.places{
  margin: 98px auto 0 100px;

  width: 83%;
}

@media screen and (max-width: 1024px){
  .places{
    margin-top: 97px;
    margin-left: auto;

    width: 90.65%;
  }
}

@media screen and (max-width: 768px){
  .places{
    margin-top: 92px;

    width: 93.65%;
  }
}

@media screen and (max-width: 425px){
  .places{
    margin-top: 66px;

    width: 100%;
  }
}
