@import url('./__list-number/intro__list-number.css');
@import url('./__list-text/intro__list-text.css');
@import url('./__list/intro__list.css');
@import url('./__text/intro__text.css');
@import url('./__title/intro__title.css');

.intro{
  margin: 97px auto 0 auto;
  width: 77%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

@media screen and (max-width: 1024px){
  .intro{
    margin-top: 95px;
    width: 90.5%;
  }
}

@media screen and (max-width: 768px){
  .intro{
    margin-top: 93px;
    width: 94%;
  }
}

@media screen and (max-width: 425px){
  .intro{
    margin-top: 68px;
    width: 90%;
  }
}
